
    $main-color: #2F303A;
    $second-color: #F5F4FA;
    $main-text-color: #212121;
    $second-text-color: #757575;
    $accent-text-color: #2196F3;
    $logo-text-header: #000000;
    $logo-text-footer: #fff;
    $body-color: #fff;
    $second-body-color: #F5F4FA;
    $contact-icon-color: #757575;
    $defolt-icon-color: #AFB1B8;
