.features {
    background: $body-color;
    padding-top: 60px;
    padding-bottom: 60px;
  
    

    &__list {
        width: 100%;
    }

    
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        background-color: $second-color;
        border-radius: 4px;
    }
    
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-text-color;
    }
    
    &__text {
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $second-text-color;
        margin-bottom: 0;
    }
}


@media (min-width: 768px) {
    .features {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .features__list:not(:last-child) {
        margin-bottom: 30px;
    }

    .features__title {
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 1199px) {
    .features__container {
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: baseline;
        flex-wrap: wrap;
    }
}

@media (min-width: 480px) and (max-width: 1199px) {
    .features__list {
        max-width: 354px;
    }
}

@media (min-width: 1200px) {
    .features__container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 30px;
    }
}



